<%= render partial: "/layouts/navbar" %>

<div class="usernewbackground">

<div class="container">

<div class="fillerdiv"></div>

<%= form_for User.new, url: user_sign_in_path, html: {id: 'sign-in'} do |form| %>

<div class="form-group">
    <label for="exampleInputEmail1" id="formgrouptext">Email</label>
    <%= form.text_field :email, placeholder: 'Email', class: "form-control"%>
</div>

<div class="form-group">
    <label for="exampleInputEmail1" id="formgrouptext">Password</label>
    <%= form.password_field :password, placeholder: 'Password', class: "form-control"%>
</div>

<%= form.submit "Sign In", class:"text-field btn-submit form-control" %>

<div class="checkbox">
    <%= form.label :remember_me do  %>
    <%= form.check_box :remember_me %>
    <span id="formgrouptext">Remember Me</span>
    <% end %>
</div>

<% end %>

</div>

</div>
