<%= render partial: "/layouts/navbar" %>

<div class="homepagebackground">

<div class="container">

	<div class="jumbotron jumbotroncustomize">
		<ul class="classoful">
			<li><h3 class="usershowheader"><%= @user.first_name %> <%= @user.last_name %></h3></li>
			<li><h3 class="usershowheader"><%= @user.email %></h3></li>
		</ul>

		<div id="searchbutton">
			<%= link_to "Create Event", new_event_path, class: "btn btn-primary btn-lg" %>
		</div>

		</br>

		<% if current_user.id == @user.id %>
			<div id="searchbutton">
				<%= link_to "Edit Own Profile", edit_user_path(current_user.id), class: "btn btn-primary btn-lg" %>
			</div>
		<% end %>
	</div>

	<h2 id="userpageTitle">List of Your Badminton Session</h2>

	<ul class="classoful">
		<% @badmintonsession.each do |t| %>
		<div class="jumbotron jumbotroncustomize">
			<li><h4 class="textcustomize">Title: <%= t.title %></h4></li>
			<li><h4 class="textcustomize">Description: <%= t.description %></h4></li>
			<li><h4 class="textcustomize">Start Date: <%= t.start_date %></h4></li>
			<li><h4 class="textcustomize">Start Time: <%= t.start_time.strftime('%H.%M %p') %></h4></li>
			<li><h4 class="textcustomize">End Time: <%= t.end_time.strftime('%H.%M %p') %></h4></li>
			<li><h4 class="textcustomize">Address: <%= t.address %>,<%= t.city %>,<%= t.state %></h4></li>
			<li><%= link_to "View", event_path(t.id),class:"btn btn-primary btn-lg" %></li>
			</br>
		</div>
		<% end %>
	</ul>

</div>

</div>