<%= render partial: "/layouts/navbar" %>

<div class="homepagebackground">

<div class="container">

<div class="jumbotron jumbotroncustomize">
<ul class="classoful">
	<li><h2 class="usershowheader">Details</h2></li>
	<li><h4 class="usershowheader"><%= @event.title %></h4></li>
	<li><h4 class="usershowheader"><%= @event.description %></h4></li>
	<li><h4 class="usershowheader"><%= @event.start_date %></h4></li>
	<li><h4 class="usershowheader"><%= @event.start_time.strftime('%H.%M %p') %></h4></li>
	<li><h4 class="usershowheader"><%= @event.end_time.strftime('%H.%M %p') %></h4></li>
	<li><h4 class="usershowheader"><%= @event.address %>,<%= @event.city %>,<%= @event.state %>,<%= @event.postcode %></h4></li>

	<% if current_user.id == @event.user_id %>
		<div id="searchbutton">
			<li><%= link_to "Edit", edit_event_path(@event.id), class: "btn btn-primary btn-lg" %></li>
			</br>
			<li><%= button_to "Delete", event_path(@event.id), method: :delete, class: "btn btn-primary btn-lg" %></li>
			</br>
		</div>
	<% end %>
	<% if signed_in? %>
		<% if @array.include?(current_user.id) %>
		<% else %>
			<div id="searchbutton">
				<li>
					<%= form_for Relationship.new, url: relationships_path, method: :post, html: {id: "join-form"} do |f| %>
					<%= f.hidden_field :event_id, value:@event.id %>
					<%= f.hidden_field :user_id, value:current_user.id %>
					<%= f.submit "Join Session", class:"joinformsubmit" %>
					<% end %>
				</li>
			</div>
		<% end %>
	<% end %>
</ul>
</div>

<div class="jumbotron jumbotroncustomize">
	<h2>List of participants</h2>

	<ul id="namejquery">
		<% @participant.each do |t| %>
			<li><h3><%= t.user.first_name %></h3></li>
		<% end %>
	</ul>
</div>

<div class="jumbotron jumbotroncustomize">
	<h2>Total number of participants</h2>
	<h3 id="countjquery"><%= @participant.count %></h3>
</div>

</div>

</div>

<div class="container">

	<div style='width: 1000px; margin: 0 auto;'>
	  <div id="map" style='width: 1000px; height: 400px; margin: 0 auto;'></div>
	</div>

</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  	markers = handler.addMarkers(<%=raw @hash.to_json %>);
  	handler.bounds.extendWith(markers);
  	handler.fitMapToBounds();
  	handler.getMap().setZoom(17);
	});
</script>
