<%= render partial: "/layouts/navbar" %>

<ul>
	<li><%= @event.title %></li>
	<li><%= @event.description %></li>
	<li><%= @event.start_date %></li>
	<li><%= @event.start_time.strftime('%H.%M %p') %></li>
	<li><%= @event.end_time.strftime('%H.%M %p') %></li>
	<li><%= @event.address %></li>
	<li><%= @event.state %></li>
	<li><%= @event.city %></li>
	<li><%= @event.postcode %></li>
	<% if current_user.id == @event.user_id %>
		<li><%= link_to "Edit Badminton Session Details", edit_event_path(@event.id) %></li>
		<li><%= link_to "Delete the badminton session ", event_path(@event.id), method: :delete %></li>		
	<% end %>
	<% if signed_in? %>
		<% if @array.include?(current_user.id) %>
		<% else %>
			<li>
				<%= form_for Relationship.new, url: relationships_path, method: :post, html: {id: "join-form"} do |f| %>
				<%= f.hidden_field :event_id, value:@event.id %>
				<%= f.hidden_field :user_id, value:current_user.id %>
				<%= f.submit "Join Session" %>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>

<h2>List of participants</h2>

<ul id="namejquery">
	<% @participant.each do |t| %>
		<li><%= t.user.first_name %></li>
	<% end %>
</ul>

<h2>Total number of participants</h2>
<h3 id="countjquery"><%= @participant.count %></h3>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  	markers = handler.addMarkers(<%=raw @hash.to_json %>);
  	handler.bounds.extendWith(markers);
  	handler.fitMapToBounds();
  	handler.getMap().setZoom(17);
	});
</script>
